  <%= form_tag "/goods/#{@good.id}", method: :patch do %>


  <div>
     <%= label_tag :title %>
     <%= text_field_tag :title %>
    </div> 

  <div>
     <%= label_tag :price %>
     <%= text_field_tag :price %>
    </div> 


  <div>
      <%= submit_tag "Press Enter" %>
    </div>

    <% end %>
